.page-wrapper{
  padding: 30px 100px;
}
.list {
  &-content {
    display: flex;
    flex-direction: row;
    width: 100%;

    .unanswered {
      width: calc(50vw - 40px);
      margin: 0 20px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 25px;
    }

    .answered {
      width: calc(50vw - 40px);
      margin: 0 20px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 25px;
    }
  }
}


