.header{
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2{
    color: white;
  }
  &-links{
    display: flex;
    justify-content: space-between;
  }
  &-link{
    text-decoration: none;
    color: grey;
    padding-left: 20px;
  }
  &-link::marker{
    font-size: 0;
  }
}
.active{
  //border: 1px solid white;
  color: white;
}
