.form-question{
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 0 auto;
  .radio{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
  }
  .answers{
    padding-bottom: 20px;
    .button{
      width: 100%;
    }
  }
  .answer-input{
    margin: 20px 0 -20px 0;
  }

}




