<form [formGroup]="form" class="form-question">
	<mat-form-field class="example-full-width">
		<mat-label>Title</mat-label>
		<input type="text" matInput formControlName="title">
	</mat-form-field>

	<mat-radio-group class="radio" aria-label="Select an option"
					 formControlName="type"
	>
		<mat-radio-button *ngFor="let type of types"
						  [value]="type"
		>{{type}}</mat-radio-button>
	</mat-radio-group>
	<div class="answers" *ngIf="hasAnswers">
		<div class="mat-error" *ngIf="form.controls.answers.length==1">
			Answers should be more than 1
		</div>
		<button mat-stroked-button color="primary"
				(click)="addAnswer()"
				class="button">Add an answer option
		</button>
		<div *ngIf="form.controls.type.value=='Single'">
			<ng-container formArrayName="answers" *ngFor="let answer of answers.controls; let i = index">
				<mat-form-field class="answer-input">
					<mat-label>Answer {{i + 1}}</mat-label>
					<input matInput [formControl]="answer" placeholder="Enter answer option">
				</mat-form-field>
			</ng-container>
		</div>
		<div *ngIf="form.controls.type.value=='Multiple'">
			<ng-container formArrayName="answers" *ngFor="let answer of answers.controls; let i = index">
				<mat-form-field class="answer-input">
					<mat-label>Answer {{i + 1}}</mat-label>
					<input matInput [formControl]="answer" placeholder="Enter answer option">
				</mat-form-field>
			</ng-container>
		</div>
	</div>
	<button *ngIf="question"
			mat-raised-button
			class="button"
			[disabled]="form.invalid"
			(click)="updateQuestion()"
			color="primary"
	>
		UPDATE
	</button>
	<button
			*ngIf="!question"
			mat-raised-button
			class="button"
			[disabled]="form.invalid"
			(click)="createQuestion()"
			color="primary"
	>
		CREATE
	</button>
</form>
