<div class="question">
	<h3>{{ question.title }}</h3>
	<form>
		<div [ngSwitch]="question.type">
			<ng-container *ngSwitchCase="'Single'">
				<mat-radio-group
						class="radios"
						(change)="onSelectSingle($event)"
						[disabled]="answered">
					<mat-radio-button *ngFor="let answer of question.answers"
									  [value]="answer"
									  [checked]="answered && answer === question.answer[0]"
					>
						{{ answer }}
					</mat-radio-button>
				</mat-radio-group>
			</ng-container>
			<ng-container *ngSwitchCase="'Multiple'">
				<div *ngFor="let answer of question.answers; let i = index">
					<mat-checkbox class="checkboxes"
								  (change)="onSelectMulti($event, answer)"
								  [checked]="isSelected(answer)"
								  [disabled]="answered">
						{{ answer }}
					</mat-checkbox>
				</div>
			</ng-container>
			<ng-container *ngSwitchCase="'Open'">
				<textarea matInput
						  #textAreaElement
						  [disabled]="answered"
						  [value]="question.answer[0] || ''"
						  (input)="onSelectSingle({ value: textAreaElement.value })"
						  class="textarea"
						  placeholder="Type your answer"
						  maxlength="255"
						  required>
				</textarea>
			</ng-container>
		</div>
		<div class="date" *ngIf="answered">Answered: {{question.answeredDate |date:"medium"}}</div>
		<div class="button">
			<ng-container *ngIf="!answered">
				<button mat-raised-button color="accent"
						[disabled]="!question.answer.length"
						(click)="addAnswer()">
					Create an answer
				</button>
			</ng-container>
			<ng-container *ngIf="answered">
				<button mat-raised-button color="warn" (click)="removeAnswer()">
					Roll back the answer
				</button>
			</ng-container>
		</div>
	</form>
</div>

