<!--<div *ngFor="let question of questions">-->
<!--	<form class="answer-form">-->
<!--		<div class="answer-form-option" [ngSwitch]="question.type">-->
<!--			<ng-container *ngSwitchCase="'Single'">-->
<!--				<mat-radio-group class="radios" >-->
<!--					<mat-radio-button [value]="answer" *ngFor="let answer of question.answers" [checked]="isAnswered && answer === question.answer[0]">-->
<!--						{{ answer }}-->
<!--					</mat-radio-button>-->
<!--				</mat-radio-group>-->
<!--			</ng-container>-->
<!--</div>-->
