.questions{

  &-wrapper{
    display: flex;


  }
  &-card{
    width: 700px;
    margin: 0 auto 20px;
  }

}
.button{
  min-width: 100px;

}
.edit:hover{
  background: #2A8D9C;
  color: white;
}
.delete:hover{
  background: #B00000;
  color: white;
}


